.MyPage-UI {
  background-color: #ffffff;
  height: 100%;
  min-height: 100vh;
}

.MyPage-UI .div:not(:where(.overlap-overlapper1 *)) {
  background-color: #ffffff;
  display: flex;
  gap : 5vw;
}

.MyPage-UI .divformypageleft {
    margin-top: 50px;
    position: fixed;
    left : 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 50px;
    width : 33vw;
}

.MyPage-UI .divformypageright {
    position: relative;
    display: flex;
    flex-direction: column;
    gap : 25px;
    width : 66vw;
    left : clamp(450px, 25vw, 1000px);
    margin-right: 5vw;
}

.MyPage-UI .line:not(:where(.overlap-overlapper1 *)) {

  height: 750px;
  width: 2px;
  position: fixed;
  left : 33vw;
  top : 200px;
  margin-right: 50px;
}

.MyPage-UI .overlap:not(:where(.overlap-overlapper1 *)) {
  background-color: #f0f0f0;
  border-radius: 15px;
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MyPage-UI .text-wrapper:not(:where(.overlap-overlapper1 *)) {
  color: #333333;
  font-family: "Noto Sans", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.60px;
  line-height: 60px;
  white-space: nowrap;
}

.MyPage-UI .overlap-group:not(:where(.overlap-overlapper1 *)) {
  background-color: #ffd95a;
  border-radius: 15px;
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MyPage-UI .text-wrapper-2:not(:where(.overlap-overlapper1 *)) {
  color: #333333;
  font-family: "Noto Sans", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.60px;
  line-height: 60px;
  white-space: nowrap;
}

.MyPage-UI .div-wrapper:not(:where(.overlap-overlapper1 *)) {
  background-color: #f0f0f0;
  border-radius: 15px;
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MyPage-UI .text-wrapper-3:not(:where(.overlap-overlapper1 *)) {
  color: #333333;
  font-family: "Noto Sans", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.60px;
  line-height: 60px;
  white-space: nowrap;
}

.MyPage-UI .text-wrapper-9:not(:where(.overlap-overlapper1 *)) {
  color: #333333;
  font-family: "Noto Sans", Helvetica;
  font-size: 25px;
  font-weight: 900;
  left: 19px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.MyPage-UI .overlap-4:not(:where(.overlap-overlapper1 *)) {
  height: 109px;
  width: 327px;
}

.MyPage-UI .overlap-group-2:not(:where(.overlap-overlapper1 *)) {
  height: 105px;
  position: relative;
  width: 325px;
}

.MyPage-UI .rectangle:not(:where(.overlap-overlapper1 *)) {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #e0e0e0;
  height: 50px;
  left: 0;
  position: absolute;
  top: 55px;
  width: 325px;
}

.MyPage-UI .text-wrapper-10:not(:where(.overlap-overlapper1 *)) {
  color: #333333;
  font-family: "Noto Sans", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.MyPage-UI .text-wrapper-11:not(:where(.overlap-overlapper1 *)) {
  color: #808080;
  font-family: "Noto Sans", Helvetica;
  font-size: 17px;
  font-weight: 600;
  left: 12px;
  letter-spacing: 0.34px;
  line-height: 60px;
  position: absolute;
  top: 49px;
  white-space: nowrap;
}

.MyPage-UI .group-2:not(:where(.overlap-overlapper1 *)) {
  height: 116px;
  width: 226px;
  position: relative;
}

.MyPage-UI .text-wrapper-12:not(:where(.overlap-overlapper1 *)) {
  color: #333333;
  font-family: "Noto Sans", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 54px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 56px;
  white-space: nowrap;
}

.MyPage-UI .text-wrapper-13:not(:where(.overlap-overlapper1 *)) {
  color: #333333;
  font-family: "Noto Sans", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 186px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 56px;
  white-space: nowrap;
}

.MyPage-UI .rectangle-2:not(:where(.overlap-overlapper1 *)) {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #e0e0e0;
  height: 40px;
  left: 0;
  position: absolute;
  top: 67px;
  width: 40px;
}

.MyPage-UI .rectangle-3:not(:where(.overlap-overlapper1 *)) {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #e0e0e0;
  height: 40px;
  left: 132px;
  position: absolute;
  top: 67px;
  width: 40px;
}

.MyPage-UI .group-3:not(:where(.overlap-overlapper1 *)) {
  height: 260px;
  width: 702px;
  position: relative;
}

.MyPage-UI .rectangle-4:not(:where(.overlap-overlapper1 *)) {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #e0e0e0;
  height: 200px;
  left: 0;
  position: absolute;
  top: 60px;
  width: 700px;
}

.MyPage-UI .overlap-wrapper:not(:where(.overlap-overlapper1 *)) {
  height: 115px;
  width: 329px;
}

.MyPage-UI .overlap-5:not(:where(.overlap-overlapper1 *)) {
  height: 115px;
  position: relative;
  width: 325px;
}

.MyPage-UI .rectangle-5:not(:where(.overlap-overlapper1 *)) {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #e0e0e0;
  height: 50px;
  left: 0;
  position: absolute;
  top: 60px;
  width: 325px;
}

.MyPage-UI .text-wrapper-14:not(:where(.overlap-overlapper1 *)) {
  color: #808080;
  font-family: "Noto Sans", Helvetica;
  font-size: 17px;
  font-weight: 600;
  left: 12px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 55px;
  white-space: nowrap;
}

.MyPage-UI .overlap-6:not(:where(.overlap-overlapper1 *)) {
  background-color: #ffd95a;
  border-radius: 10px;
  height: 70px;
  width: 700px;
  position: relative;
}

.MyPage-UI .text-wrapper-15:not(:where(.overlap-overlapper1 *)) {
  color: #000000;
  font-family: "Noto Sans", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 304px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}


/* jobcard css 시작 */
.MyPage-UI .overlap-overlapper1 {
  
  border-radius: 20px;
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;       
  place-items: center;    
  padding: 30px 0;
  row-gap: 30px; /* 카드 세로 간격 */
  margin-left: -3vw;
}

.MyPage-UI .overlap-overlapper1 .overlap {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 10px 8px 20px 5px #00000040;
  height: 210px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding:25px;
}

.MyPage-UI .overlap-overlapper1 .text-wrapper {
  color: #333333;
  font-family: "Noto Sans", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  height:60px;
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.MyPage-UI .overlap-overlapper1 .text-wrapper.small-text {
  font-size: 25px; /* 기본 30px보다 줄임 */
}

.MyPage-UI .overlap-overlapper1 .p {
  color: #545454;
  font-family: "Noto Sans", Helvetica;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin : 0;
}

.MyPage-UI .overlap-overlapper1 .single-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 280px; /* 또는 원하는 px 값 */
}

.MyPage-UI .overlap-overlapper1 .overlap-5 {
  background-color: #ffd95a;
  border-radius: 10px;
  height: 50px;
  width: 270px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.MyPage-UI .overlap-overlapper1 .div-wrapper {
  background-color: #2a52be;
  border-radius: 10px;
  height: 50px;
  width: 270px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.MyPage-UI .overlap-overlapper1 .text-wrapper-5 {
  color: #000000;
  font-family: "Noto Sans", Helvetica;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.MyPage-UI .overlap-overlapper1 .text-wrapper-2 {
  color: #ffffff;
  font-family: "Noto Sans", Helvetica;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}
/* jobcard css 끝 */
